* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 10px;
}

img {
    width: 200;
    height: 100;
}

ul {
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: larger;
    font-weight: 900;
    color: bisque;
}

li, a {
    text-decoration: none;
    list-style: none;
}

h1 {
    text-align: center;
}

.Home {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    justify-content: center;
    align-items: center;
}