* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

h1 {
    margin-bottom: 15px;
}

ul, a {
    list-style: none;
    text-decoration: none;
}

.container{
    margin: 0 auto;
    padding: 0 30px;
    background-color: #1f2937;
    max-width: 100%;
}

.navbar {
    background-color: #1f2937;
    height: 60px;
    color: #fff;
}

.navbar .logo {
    font-size: x-large;
    font-weight: bold;
}

.navbar a {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.navbar a:hover {
    color: lightblue;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
}

.navbar ul li {
    margin-left: 20px;
}

.header {
    color: #fff;
    min-height: 400px;
}

.header h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
}

.header img {
    max-width: 400px;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.heading {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

.container-1 img {
    max-width: 200px;
}

.container-1 {
    display: flex;
    align-items: center;
}